.content-header{
    font-size:24px;
    background-color: #f1ebc3;;
    color:#109dde;
}
.content-header a{
    color:white;
}
nav{
    border-bottom: solid 6px #109dde;
}
nav .container{
    font-size:25px;
}
.brand-name-1{
    color:#109dde;
    font-size:30px;
}
.brand-name-2{
    color:#dec32a;
    font-size:25px;
    border-bottom: solid 1px #dec32a;
}

.section-header{
    color:#dec32a;
    font-size:20px;
}


.btn-default{
    color:#7c754e;
    border: solid 1px #dec32a;
    
}
.btn-default:hover{
    /*font-size:20px;*/
    color:#dec32a;
}

i{
    color:#dec32a; 
}

thead,.section .card-header{
    /** background-color:#7c754e; **/
    background-color:#7c754e;
    color:white;
    
   
}
thead th{
    font-size:16px;color:#FFFFFF;
}

.badge{
    /*color:#dec32a;*/
    color:#7c754e;
    font-size:14px;
}